/* колір основного тексту #757575;*/
/* вторинний колір тексту #212121;*/
/* заголовок #FFFFFF;*/
/* колір акценту #2196F3;*/
/*основний колір фону #F5F5F5;*/
/* вторинний колір фону #F5F4FA;*/
/* колір посилання в футері mail tel  rgba(255, 255, 255, 0.6) */
/* колір кнопки при ховері #188CE8 */
/* колір бордера портфоліо картка #EEEEEE */
/* колір лого клієнтів #AFB1B8 */

:root {
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --head-title-color:#FFFFFF;
    --primary-bg-color:#FFFFFF;
    --secondary-bg-color:#F5F4FA;
    --hero-bg-color:#2F303A;
    --primary-logo-color:#000000;
    --secondary-link-color: rgba(255, 255, 255, 0.6);
    --button-bgc-hover-color: #188CE8;
    --bottom-border-card-color: #EEEEEE;
    --border-header-color: #ececec;
    --clients-logo-color:#AFB1B8;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
color: var(--primary-text-color);
background-color: var(--primary-bg-color);
font-family: "Roboto", "Sans-serif";
font-size: 14px;
letter-spacing: 0.03em;
line-height: 1.71;
}

.section-team, .section-work, 
.section-feature, .portfolio,
.section-clients{
padding-top: 94px;
padding-bottom: 94px;
}

.container {
margin-left: auto;
margin-right: auto;
width: 1200px;
padding-left: 15px;
padding-right: 15px;
}

.list, 
.portfolio-btn, .portfolio-list,
 links-list{
list-style: none;
padding: 0;
margin: 0;
}

/* LOGO */
.logo {
text-decoration: none;
color:var(--primary-logo-color);
font-family: "Raleway", "sans-serif";
font-weight: 700;
font-size: 26px;
line-height: 1.2;
transition-property: color;
transition-duration: 250ms;
transition-timing-function: var(--timing-function);
}
.logo__text {
color:var(--accent-color);
 }

.page-footer__logo {
display: inline-block;
margin-bottom: 20px;
color: var(--head-title-color);
}
    
.logo:hover {
color:var(--accent-color);
}
.page-footer__logo:hover{
    color: var(--head-title-color);
}

/* HEADER (page-header)*/
.page-header {
display: flex;
border-bottom: 1px solid var(--border-header-color);
}
.container.header-container{
display: flex;
}
/* Main NAV (page-header__nav)*/
.page-header__nav {
display: flex;
align-items: center;
}
/* site-nav*/
.site-nav__list {
display: flex;
margin-left: 93px;
}

.site-nav__list .site-nav__item + .site-nav__item {
margin-left: 50px;
}
.site-nav__link {
display: block;
padding-top: 32px; 
padding-bottom: 32px;   
font-family: 'Roboto';
text-decoration: none;
color:var(--title-text-color);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
transition-property: color;
transition-duration: 250ms;
transition-timing-function: var(--timing-function);
}

.site-nav__link:hover, 
.site-nav__link:focus {
color:var(--accent-color);
}
.site-nav__link--current {
position: relative;
color: var(--accent-color);
}
.site-nav__link--current::after{
display: block;
position: absolute;
bottom: 0;
left: 0;
content: "";
width: 100%;
height: 4px;
border-radius: 2px;
background-color: var(--accent-color);
}
/* auth-nav */
.auth-nav__list {
display: flex; 
align-items: center; 
margin-left: auto; 
}
.auth-nav__list .auth-nav__item + .auth-nav__item {
margin-left: 50px;    
}
.auth-nav__icon{
    margin-right: 10px;
    fill: currentColor;
}

.auth-nav__link{
display: flex;
align-items: center;
text-decoration: none;
color: var(--primary-text-color);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
transition-property: color, fill;
transition-duration: 250ms;
transition-timing-function: var(--timing-function);
}
.auth-nav__link:hover,
.auth-nav__link:focus {
color: var(--accent-color);
fill: var(--accent-color);
}

/* HERO */
.section-hero {
padding-top: 200px;
padding-bottom: 200px;   
}
.overlay{
max-width: 1600px;
height: 600px;
margin-left: auto;
margin-right: auto;
background-image: linear-gradient( to right, 
 rgba(47, 48, 58, 0.4), 
 rgba(47, 48, 58, 0.4)), url(../images/hero\ img\ .jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
text-align: center;
background-color: var(--primary-text-color);
}

.section-hero__title {
margin-left: auto;
margin-right: auto;
width: 696px;
margin-top: 0;
margin-bottom: 30px;
color:var(--head-title-color) ;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-transform: uppercase;
letter-spacing: 0.06em;
}

/* hero button*/
.button {
min-width: 216px;
border-radius: 4px;
padding: 10px 32px;
border: 1px solid transparent;

color:var(--head-title-color);
background-color: var(--accent-color);
font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
cursor: pointer;
transition-property: background-color, box-shadow;
transition-duration: 250ms;
transition-timing-function: var(--timing-function);
}
.button:hover,
.button:focus {
background-color: var(--button-bgc-hover-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* section */
/* НАШІ ОСОБЛИВОСТІ */
/* hidden */
.section-feature {
display: flex;
}
.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

.feature-list__list {
display: flex;
align-items: flex-start;
} 

/* .feature-list__list .feature-list__item + .feature-list__item {
    margin-left: 30px;
} */

.feature-list__item{
    margin-right: 30px;
}
.feature-list__item:nth-last-child(1){
margin-right: 0;
}
.feature-list__link{
display: flex;
height: 120px;
justify-content: center;
align-items: center;
background-color: var(--secondary-bg-color);
cursor: auto;
border-radius: 4px;
}

.feature-list__title {
margin-top: 30px;
margin-bottom: 10px;
color:var(--title-text-color) ;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
}

.feature-list__text {
margin-top: 0;
margin-bottom: 0;
color: var(--primary-text-color);
font-size: 14px;
line-height: 1.71;
}

/* ЧИМ МИ ЗАЙМАЄМОСЬ */
.section-work{
padding-top: 0;
display: flex;
}
.section-work__title{
margin-top: 0;
margin-bottom: 50px;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-text-color);
}
.work-list__list{
display: flex;
}
/* .work-list__list .work-list__item + .work-list__item {
margin-left: 30px;
} */
.work-list__item{
    margin-right: 30px;
}
.work-list__item:nth-last-child(1){
margin-right: 0;
}

.work-list__item{
    position: relative;
}
.work-list__icon{
display: block;
width: 100%;
height: auto;
}

.work-list__text{
position: absolute;
bottom: 0;
right: 0;
width: 370px;
margin: 0;
text-align: center;
padding: 27px 0px;
background: rgba(47, 48, 58, 0.8);
color: var(--primary-bg-color);
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
}
    

/* НАША КОМАНДА */
.section-team__list {
background-color: var(--secondary-bg-color);
}
.section-team__title {
margin-top: 0;
margin-bottom: 50px;
color:var(--title-text-color) ;
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
}
.team-list__list{
display: flex;
align-items: center;
}
.team-list__item{
width: 270px;
margin-right: 30px;
margin-bottom: 30px;
background-color: var(--primary-bg-color);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.team-list__item:nth-child(4n){
margin-right: 0;
}

.team-list__item:nth-last-child(-n+4){
margin-bottom: 0;
}

.team-list__label{
display: block;
}
.team-list__wrapper {
padding: 30px 0;
text-align: center;
}
.team-list__title {
margin-top: 0;
margin-bottom: 10px;
color: var(--title-text-color);
font-weight: 500;
font-size: 16px;
line-height: 1.19;
}
.team-list__text {
display: block;
text-align: center;
margin-top: 0;
margin-bottom: 16px;
color: var(--primary-text-color);
font-size: 16px;
line-height: 1.19;
}

.socials-list__list{
display: flex;
justify-content: center;
align-items: center;
}
/* .socials-list__list .socials-list__link + .socials-list__link{
    margin-left: 10px;
} */
.socials-list__link{
    margin-right: 10px;
}
.socials-list__link:nth-last-child(1){
    margin-right: 0;
}
.socials-list__icon{
display: flex;
align-items: center;
justify-content: center;
width: 44px;
height: 44px;
border-radius: 50%;
fill: var(--clients-logo-color);
background-color: var(--primary-bg-color);
transition-property: background-color, fill;
transition-duration: 250ms;
transition-timing-function: var(--timing-function);
}
.socials-list__icon:hover,
.socials-list__icon:focus{
background-color: var(--accent-color);
fill: var(--primary-bg-color);
}
/* НАШІ КЛІЄНТИ */
.section-clients__title{
margin-top: 0;
margin-bottom: 50px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color:var(--title-text-color);    
}
.client-list__list{
display: flex;
}
/* .client-list__list .client-list__item + .client-list__item{
    margin-left: 30px;
} */
.client-list__item{
    margin-right: 30px;
}
.client-list__item:nth-last-child(1){
    margin-right: 0;
}

.client-list__icon{
display: flex;
align-items: center;
justify-content: center;
width: 170px;
height: 92px;
padding: 0;
border: 1px solid var(--clients-logo-color);
border-radius: 4px;
background-color: transparent;
fill: var(--clients-logo-color);
cursor: pointer;
transition-property: fill, border;
transition-duration: 250ms;
transition-timing-function: var(--timing-function);
}

.client-list__icon:hover,
.client-list__icon:focus{
fill: var(--accent-color);
border: 1px solid var(--accent-color);
}

    
/* footer */
.page-footer {
padding-top: 60px;
padding-bottom: 60px;
background-color: var(--hero-bg-color);
}
.page-footer .container{
display: flex;
align-items: baseline;
}
.page-footer__logo{
display: inline-block;
margin-bottom: 20px;
}
.address-nav__list{
width: 231px;
}
.address-nav__item{
margin-bottom: 9px;
}

.address-nav__item:nth-last-child(1){
margin-bottom: 0;
}

.address-nav__link {
text-decoration: none;
color:var(--secondary-link-color);
font-style: normal;
font-size: 14px;
line-height: 1.71;
transition-property: color;
transition-duration: 250ms;
transition-timing-function: var(--timing-function);
}
.address-nav__link:hover, 
.address-nav__link:focus{
color: var(--accent-color);
}
.address-nav__link--map {
text-decoration: none;
color:var(--primary-bg-color);
font-style: normal;
font-size: 14px;
line-height: 1.71;
}
.socials{
margin-left: 70px;
 }
.socials-title{
margin-top: 0;
margin-bottom: 20px;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--head-title-color);
}
.socials-list__list{
display: flex;
align-items: center;
justify-content: center;
}

.socials-list__link--invers:nth-last-child(1){
    margin-right: 0;
}
.socials-list__icon--invers{
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--head-title-color);
}
.socials-list__icon--invers:hover,
.socials-list__icon--invers:focus{
    background-color: var(--accent-color);
}
/* FORM */
.footer-form{
display: flex;
width: 570px;
margin-left: 93px;
align-items: flex-end;
}

.footer-form__field{
display: flex;
flex-direction: column;
width: 358px;
background-color: var(--hero-bg-color);
color: rgba(255, 255, 255, 0.6);
}

.footer-form__label{
margin-bottom: 20px;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-bg-color);
}

.footer-form__input{
padding-top: 15px;
padding-bottom: 15px;
padding-left: 16px;
padding-right: 0;
background-color: var(--hero-bg-color);
border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
color: var(--head-title-color);
}

.footer-form__input::placeholder{
font-weight: 400;
font-size: 16px;
line-height: 1.25;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.footer-form__button{
display: flex;
margin-left: 12px;
align-items: center;
justify-content: center;
width: 200px;
height: 50px;
color:var(--head-title-color);
}

.footer-form__button--icon{
margin-left: 10px;
fill: var(--head-title-color);
}


/* ПОРТФОЛІО */
.portfolio-btn, .portfolio-list {
list-style: none;
}
.portfolio-btn {
display: flex;
justify-content: center;
margin-bottom: 50px;
}
.portfolio-btn .item + .item {
margin-left: 8px;    
}
/* кнопки */
.portfolio-btn .buttons {
border-radius: 4px;
padding: 6px 22px;
border: 1px solid transparent;
color:var(--title-text-color);
background-color: var(--secondary-bg-color);
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.63;
letter-spacing: 0.03em;
text-align: center;
cursor: pointer;
transition-property: background-color, colour, box-shadow;
transition-duration: 250ms;
transition-timing-function: var(--timing-function);
}
.portfolio-btn .buttons:hover,
.portfolio-btn .buttons:focus {
background-color:var(--accent-color);
color:var(--head-title-color);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* наші роботи */
.portfolio-list{
display: flex;
flex-wrap: wrap;
}
.card-link{
    display: block;
    text-decoration: none;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
}
.card-link:hover,
.card-link:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
    0px 4px 4px rgba(0, 0, 0, 0.06), 
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
    
.product-thumb{
    position: relative;
    overflow: hidden;
    
}
.product-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.56;
    color: var(--head-title-color);
    background-color:rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
}

.card-link:hover .product-overlay,
.card-link:focus .product-overlay{
    transform: translateY(0);
}
.portfolio-list .items{
max-width: 370px;
margin-right: 30px;
margin-bottom: 30px;
}
.portfolio-list .items:nth-child(3n){
margin-right: 0;
}

.portfolio-list .items:nth-last-child(-n+3){
margin-bottom: 0;
}
.portfolio-list .items .item{
display: block;
}

.container-img {
padding-left: 24px;
padding-right: 24px;
padding-top: 20px;
padding-bottom: 20px;
width: 370px;
border-bottom: 1px solid var(--bottom-border-card-color);
border-right: 1px solid var(--bottom-border-card-color);
border-left: 1px solid var(--bottom-border-card-color);  
}
.portfolio-list-title {
margin-top: 0;
margin-bottom: 4px;
color: var(--title-text-color);
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}
.portfolio-list .text {
margin-top: 0;
margin-bottom: 0;
color: var(--primary-text-color);
font-size: 16px;
line-height: 1.88;
}
/* BACKDROP */
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
}
.page-modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background-color: var(--primary-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
     0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 4px;
}
.page-modal__forma{
    /* outline: 1px solid green; */
    padding: 40px;
}
.button-closed{
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--primary-bg-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.button-closed{
    width: 18px;
    height: 18px;
    fill: var(--primary-logo-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
}  
.button-closed:hover,
.button-closed:focus{
fill: var(--accent-color);
}

.page-modal__title{
display: block;
text-align: center;
margin-top: 0;
margin-bottom: 12px;
font-family: 'Roboto';
font-weight: 700;
font-size: 20px;
line-height: 1.15;
letter-spacing: 0.03em;
color: var(--title-text-color);
/* outline: 1px solid red; */
}
.page-modal__container{
display: flex;
flex-direction: column;
outline: 1px solid blue;
}
.page-modal__field{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 448px;
    margin-bottom: 10px;
    /* outline: 1px solid green; */
}
.form-label{
margin-bottom: 4px;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.01em;
color:var(--primary-text-color);
}
.page-modal__input{
    width: 448px;
    height: 40px;
    margin: 0;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
}
.page-modal__input:focus-within{
    border: 1px solid var(--accent-color);
    outline: none;
}
.page-modal__icon{
    position: absolute;
    bottom: 11px;
    left: 12px;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
}
.page-modal__input:focus-within ~ .page-modal__icon{
    fill: var(--accent-color);
}
.page-modal__field--big{
    width: 448px;
    height: 138px;
    margin-bottom: 20px;
    /* outline: 1px solid green; */
}
.page-modal__label{
    margin-bottom: 4px;
}
.page-modal__textarea{
    width: 448px;
    height: 120px;
    margin: 0;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
}
.page-modal__textarea:focus-within{
    border: 1px solid var(--accent-color);
    outline: none;
}
.page-modal__textarea::placeholder{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    }
.form-field-checkbox{
    display: flex;
    width: 100%;
    margin-bottom: 30px;
}
.checkbox-input{
    /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; */
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.checkbox-label{
    display: flex;
    align-items: center;
    }
.checkbox-icon{
    display: inline-block;
    margin-right: 7px;
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-text-color);
    border-radius: 2px;
}
.checkbox-input:checked + .checkbox-icon{
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    background-size: contain;
    background-origin: border-box;
}
.checkbox-link{
    display: inline-block;
    color: var(--accent-color);
    padding: 0;
    margin: 0;
}
.submit-btn-modal{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    padding: 10px 52px 10px 52px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
}
    .btn-modal-text{
    color:var(--primary-bg-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}
.submit-btn-modal:hover,
.submit-btn-modal:focus{
    background-color:var(--button-bgc-hover-color);
}
    
